.file-uploader-container{
    /* max-width: 700px; */
    /* margin: 30px auto;
    margin-bottom: 0; */
    width: 70vw;
    overflow-y: auto;
}

.file-uploader-card{
    padding-top: 2rem;
    /* max-height: 80vh;
    overflow-y: scroll; */
    background-color: white;
    padding: 30px;
    color: black;
    border-radius: 10px;
}
.file-upload-header {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  .file-upload-title {
    flex: 1;
    text-align: center;
  }
  
  .reset-btn {
    position: absolute;
    right: 0;
  }
  