.files_list{
    max-height: 55vh;
    overflow-y: auto;
}

/* Width of scrollbar */
.files_list::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.files_list::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}

/* Thumb */
.files_list::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1976d2, #1976d2);
  border-radius: 10px;
}

/* Hover */
.files_list::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1976d2, #1976d2);
}